<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/reset.css">
  <script src="https://cdn.bootcss.com/vue/2.6.11/vue.js"></script>
  <title>Document</title>
</head>
<body>
  <div class="banner">
    <div class="inner">
      <p class="t1">更年轻的时候,说的话都是笑话</p>
    </div>
  </div>
  <div class="container mainbox" id="app">
    <template v-if="list.length>0">
      <div class="item" v-for="(item, index) in list" :key="index">
        {{item.name}}
      </div>
    </template>
    <div class="deault" v-else>
      暂无内容
    </div>
  </div>
  <footer class="footer">
    <div class="inner">
      <p>Copyright © 2020-2020 中华干脆面. All Rights Reserved.</p>
      <p>Powered by HTML+JAVASCRIPT</p>
    </div>
  </footer>
</body>
<script>
  function _fetch(url){
    return new Promise((res,rej) => {
      try{
        fetch(url).then(res=>{
        return res.json()
      })
      .then(res=>{
        console.log(res)
      })
      }
    })
  }
  function getGithubList(){
    fetch('https://api.github.com/repos/airsky0605/airsky0605.github.io/contents').then(res=>{
      return res.json()
    })
    .then(res=>{
      console.log(res)
    })
  }
  new Vue({
    el:'#app',
    data:{
      list: []
    },
    created() {
      
    }
  })
</script>
</html>