.banner{
  position: relative;
  background: url(../img/banner.jpeg) 0% 50% / cover no-repeat grey;
}
.banner ::after{
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
}
.banner .inner{
  padding: 240px 0;
}
.banner .inner p{
  text-align: center;
  color: #fff;
  position: relative;
}
.banner .inner .t1{
  font-size: 26px;
  
}
.banner .inner .t2{
  font-size: 22px;
  text-decoration: line-through;
}