.mainbox{
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.banner{
  position: relative;
  background: url(../img/banner.jpeg) 0% 50% / cover no-repeat;
}
.banner::after{
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
}
.banner .inner{
  padding: 240px 0;
  position: relative;
}
.banner .inner p{
  text-align: center;
  color: #fff;
  position: relative;
  background: transparent;
}
.banner .inner .t1{
  font-size: 26px;
  
}
.banner .inner .t2{
  font-size: 22px;
  text-decoration: line-through;
}

.container{
  margin: 35px 0!important;
}

.footer{
  background: #999;
  color: #c6c7c9;
  text-align: center;
}
.footer .inner{
  padding: 40px 0 20px;
}